.port h2 ,.port i
{
    color: #2c3e50;
  
}
.port{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .icon{
    position: relative;
}
 .icon::before{
    content: '';
    position: absolute;
    top: 50%;
    right:60%;
    width: 50px;
    height: 2px;
    background:#2c3e50 ;
}
.modal-header button
{
    position: absolute;
    top: 5px;
    right: 5px;
}
.port .icon::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 60%;
    width: 50px;
    height: 2px;
    background:#2c3e50 ;
}
.port-img img{
    border-radius: 10px;
}
.port-img{
    position: relative;
}
.port-img .back-img{
position: absolute;
top: 0%;
right: 0%;
bottom: 0%;
left: 0%;
background: rgba(26, 188, 156, 0.9);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
opacity: 0;
transition: all .5s;
}
.port-img:hover .back-img
{
    opacity: 1;
}
.port-img .back-img i
{
    font-size: 100px;
}
.item-back{
    position: fixed;
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
	background:rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
   
    
}
.item-back .item{
    background: white;
    
    text-align: center;
    position: relative;
}
.ic-mv
{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: larger;
    cursor: pointer;

}
.item-back .icon1{
    position: relative;
}
.item-back .icon1::before{
    content: '';
    position: absolute;
    top: 50%;
    right:51%;
    width: 50px;
    height: 2px;
    background:#2c3e50 ;
}
.vib{
    background-image: url(../image/circus.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 70%;
    height: 300px;
}

.item-back .icon1::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 51%;
    width: 50px;
    height: 2px;
    background:#2c3e50 ;
}



.item1
{
    width: 100%;

    margin: auto;
}